<form #form="ngForm" (ngSubmit)="login(form)" novalidate>
  <div>
    <label for="email">Correo electrónico</label>
    <input type="email" name="email" id="email" ngModel required/>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" ngModel required/>
  </div>
  <div>
    <button type="submit" [disabled]="form.invalid">Acceder</button>
  </div>
</form>
